@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: #ecf3f8;
}

  .IBlogin{
    align-items: center;
    width: 600px;
    height: 425px;
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    background-color: #daf3ff;
  }

  .IBtransfer{
    align-items: center;
    width: 600px;
    height: 550px;
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    background-color: #effaff;
  }


  .IBlogin h3{
    padding: 10px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #65ceff;
  }

  .iblogin label {
    line-height: 60px;
    font-weight: 500;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
  }
  .iblogin input{
    outline: none;
    padding: 7px;
    border:1px solid grey;
    border-radius: 7px;
    width: 250px;
    font-weight: 500;
    font-size: 18px;
  }
  .iblogin input:focus{
    border: 1px solid #65ceff;
    box-shadow: #65ceff;
  }

  #bu{
    margin: 10px;
  }
  #msg{
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
  }
  #msg a{
    text-decoration: none;
    color: rgb(236, 55, 55);
  }
  .title{
    padding-top: 50px;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    font-family: "Poppins";
    font-weight: bold;
  }

  #errormsg{
    font-weight: bolder;
    color: #f7114e;
    font-family: "Poppins";
  }
  #login{
    padding: 10px;
    width: 130px;
    color: white;
    font-size: 20px;
    border: 1px solid transparent;
    background-color: #d02552;
    border-radius: 10px;
  }

  .IBSignup{
    width: 750px;
    height: 630px;
    border: 2px solid transparent;
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    background-color: #effaff;
  }


  .IBSignup h3{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: rgb(248, 107, 88);
  }

  #signupmsg{
    line-height: 20px;
    font-size: large;
    color: #d02552;
  }

  .box{
    width: 500px;
    height: 390px;
    border: 2px solid transparent;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    background-color: #fff4f4;
  }
  .box span{
    font-size: large;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
    font-weight: bold;

  }
  .box label{
    font-size: larger;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #50d07d;
  }
  .box p{
    font-size: larger;
    font-family: 'Poppins', sans-serif;
  }

  .box-details{
    width: 500px;
    height: 470px;
    border: 2px solid transparent;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    background-color: #f0f0f0;
  }

  .box-details span{
    font-size: large;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
    font-weight: bold;

  }
  .box-details label{
    font-size: larger;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #50d07d;
  }
  .box-details p{
    font-size: larger;
    font-family: 'Poppins', sans-serif;
  }

  