<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERNET BANKING|AXB BANK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css')}}">
    <script src="https://kit.fontawesome.com/e971ca7e25.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    {% include 'navbar.html' %}
    <br>
    <div id="welcomemsg">
        <h3>Welcome <strong>{{name}}</strong></h3>
    </div>
    <br>
    <h4>Available Services</h4>
    <div class="Menus">  
    <button class="buttons">
        <a href="{{url_for('balanceEq',accno=accno)}}">Balance Enquiry</a>
        <i class="bi bi-piggy-bank" ></i>
    </button><br>
    <button class="buttons">
        <a href="{{ url_for('transfer',accno=accno ) }}">Transfer Money</a>
        <i class="bi bi-cash-coin"></i>
    </button><br> 
    <button class="buttons">
        <a href="{{url_for('customerDetails',accno=accno)}}">View My Details</a>
        <i class="bi bi-bank"></i>
    </button><br>
    <button class="buttons">
        <a href="{{url_for('resetPassword')}}">Reset Password</a>
        <i class="bi bi-arrow-right-circle-fill"></i>
    </button><br>
    <button class="buttons" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <a>Close Account</a>
        <i class="bi bi-trash3"></i>
      </button>
    </div> 
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm ??</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             Are you sure to delete the account?<br>
             <strong>*You can't able access the account after this??*</strong>
            </div>
            <div class="modal-footer">
              <button  class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.href='#'">Close</button>
              <a href="{{url_for('deleteAccount',accno=accno)}}" class="btn btn-danger">Confirm</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      {% include 'chat.html' %}
</body>
</html>