<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #50d07d;">
  <div class="container-fluid">
  <a class="navbar-brand mb-0 h1" href="/home" >
    AXB BANK</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
      <li class="nav-item mb-0 h5">
        <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item mb-0 h5" >
        <a class="nav-link" href="{{ url_for('Signup') }}">SignUp</a>
      </li>
      <li class="nav-item mb-0 h5" >
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item mb-0 h5">
          <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>
    <form class="position-absolute bottom-0 end-0">
      <a class="btn btn-outline-danger me-2" onclick="return confirm('Are you sure ?')" href="{{url_for('Logout')}}">Logout</a>
    </form>
  </div>
</div>
</nav>


