<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Transfer</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    {% include 'navbar.html' %}
    <br>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>You can transfer amounts only between AXB Bank Accounts for now</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% for message in get_flashed_messages() %}
        {% if message == "Transfer Successfull" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> 
        {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
    {% endfor %}
    <div class="IBtransfer shadow p-3 mb-5 bg-body rounded">
        <form action="/transfer" method="POST">
            <label for="">From</label>
              <select class="form-select" aria-label="Default select example" name="from" >
                <option value="{{accno}}" >{{accno}}</option required placeholder="From Account Number">
              </select><br>
            <div class="form-floating">
                <input type="text" class="form-control" name="to" id="floatingPassword" placeholder="Payee Account Number"required>
                <label for="floatingPassword">Payee Account Number</label>
            </div><br>
            <div class="form-floating">
                <input type="number" class="form-control" name="amount" id="floatingPassword" placeholder="Amount"required>
                <label for="floatingPassword">Amount</label>
            </div><br>
            <div class="form-floating">
                <input type="password" class="form-control" name="passwd" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
            </div><br>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="trans-type" required>
              <option selected>Select Transaction Type</option>
              <option value="IMPS" aria-required="true">IMPS</option>
              <option value="RTGS"aria-required="true">RTGS</option>
              <option value="NEFT"aria-required="true">NEFT</option>
            </select><br>
            <a href="{{url_for('home')}}" class="btn btn-warning">Go Back</a>
            <input type="submit"class="btn btn-primary" value="Transfer"> 
          </form>
    </div>
    
</body>
</html>